# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# development
keys/

# testing
/coverage

# building
nginx-prod/build/

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*
php-error.log

.vscode/

/app/.env
secrets.php
secret.txt
/backend/client_secrets.php
*.pyc

/db/*.sqlite*
/db/data/

/venv/*
/vendor/*
/backend/flatfilebaby/*

deploy_key
deploy_key.pub
travis-secrets.txt
pgbackups3.env

django/static/
django/logs/
django/uuid
secrets/
logs/

tmp/
secrets.tar
nginx/wildcard.democracysausage.org*
notes.txt
foo10\.json

foo11\.json

foo12\.json

initial-data/*
twitter-dev-application.txt

redis/
cockpit.md
TODO.md
UPGRADE_NOTES.md
django/supervisord.pid
TODOs_from_SA2022.md
rate-limit-data-all.*