language: python
python:
- 3.6
before_install:
- openssl aes-256-cbc -K $encrypted_15da30bf9d15_key -iv $encrypted_15da30bf9d15_iv
  -in deploy_key.enc -out ./deploy_key -d
  -d
- eval "$(ssh-agent -s)"
- chmod 600 ./deploy_key
- ssh-add ./deploy_key
# install:
#   - pip install digitalocean
script:
- mkdir logs
- python backend/do-test.py