REACT_APP_ENVIRONMENT=PRODUCTION
REACT_APP_SITE_BASE_URL=https://scremsong.democracysausage.org
REACT_APP_API_BASE_URL=https://scremsong.democracysausage.org/api
REACT_APP_WEB_SOCKET_URI=wss://scremsong.democracysausage.org/api/ws/scremsong/scremsong/

# Sentry.io Error Logging
REACT_APP_RAVEN_URL=
REACT_APP_RAVEN_SITE_NAME=