# export required so they're available to Travis-CI during build
REACT_APP_ENVIRONMENT=PRODUCTION
REACT_APP_SITE_BASE_URL=https://scremsong.democracysausage.org
REACT_APP_API_BASE_URL=https://scremsong-api.democracysausage.org
REACT_APP_WEB_SOCKET_URI=wss://scremsong-api.democracysausage.org:8001/ws/scremsong/scremsong/
