SECRET_KEY=
ENVIRONMENT=PRODUCTION
SITE_BASE_URL=https://scremsong.democracysausage.org
API_BASE_URL=https://scremsong-api.democracysausage.org
#EALGIS_BASE_URL=https://localhost
#EALGIS_SITE_NAME=Local Dev
#EALGIS_SITE_CONTACT_EMAIL=example@example.com
#EALGIS_CONFIG_PRIVATE_SITE=1
#RAVEN_URL=
#SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
#SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=
#SOCIAL_AUTH_TWITTER_KEY=
#SOCIAL_AUTH_TWITTER_SECRET=
#SOCIAL_AUTH_FACEBOOK_KEY=
#SOCIAL_AUTH_FACEBOOK_SECRET
#MAILGUN_DOMAIN=
#MAILGUN_API_KEY=
#MAILGUN_FROM=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=