SECRET_KEY=
ENVIRONMENT=PRODUCTION
SITE_BASE_URL=https://scremsong.democracysausage.org
API_BASE_URL=https://scremsong.democracysausage.org/api
RAVEN_URL=
RAVEN_SITE_NAME=
#SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
#SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=
#SOCIAL_AUTH_TWITTER_KEY=
#SOCIAL_AUTH_TWITTER_SECRET=
#SOCIAL_AUTH_FACEBOOK_KEY=
#SOCIAL_AUTH_FACEBOOK_SECRET
#MAILGUN_DOMAIN=
#MAILGUN_API_KEY=
#MAILGUN_FROM=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
CHANNELS_HOST_URL=
RQ_REDIS_URL=
RQ_API_KEY=