Django==2.1.4
psycopg2==2.7.6.1
djangorestframework==3.9.0
django-cors-headers==2.4.0
django-model-utils==3.1.2
channels==2.1.6
channels_redis==2.3.2
SQLAlchemy==1.2.15
social-auth-app-django==3.1.0
social-auth-core==2.0.0
raven==6.9.0
tweepy==3.7.0
celery==4.2.1
django-celery-results==1.0.4
